<!DOCTYPE html>
<html>
<head>
    <title>SignalR Demo App</title>
	<meta charset="utf-8" />
</head>
<body ng-app="chatApp">
    <div ng-controller="chatController">
        <div>
            Name: <input type="text" ng-model="name" /><br />
            Message: <input type="text" ng-model="message" /><br />
            <input type="button" value="Send" ng-click="sendMessage()" />
        </div>
        <div>
            <ul>
                <li ng-repeat="chat in messages">
                    <span ng-bind="chat"></span>
                </li>
            </ul>
        </div>
    </div>
        
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular.min.js"></script>

    <script src="App/App.js"></script>
  </body>
</html>
